@import 'https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap'

$font: 'Spicy Rice', 'Work Sans', 'Open Sans', 'Roboto', sans-serif

$page-background: #101b21
$nav-background: #121133
$stream-background: #0a1f2b

$standard-color: #b3b3b3
$link-color: #d9d9d9
$link-visited-color: #9f9eba
$link-hover-color: #f2f2f2
$header-color: #e8e8e8

html,
body
  background: $page-background
  font-family: $font
  margin: 0
  padding: 0






