<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <title>Snowfall 2021 &mdash; Teraz online!</title>
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/main.css" />
        <script type="text/javascript" src="/static/api.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="/static/main.js"></script>
    </head>
    <body>
        <div id="background">
            <svg>
                <circle cx="30%" cy="120%" r="29%" fill="#50535A" />
                <circle cx="65%" cy="125%" r="38%" fill="#50535A" />
                <circle cx="90%" cy="95%" r="34%" fill="#50535A" />
            </svg>
        </div>
        <div id="navbar">
            <nav>
                <div id="logo"></div>
                <div id="rooms">
                    <!-- JS-generated room list -->
                </div>
                <div id="generalNav">
                    <a href="/rooms" id="navRoomsBtn">Pokoje</a>
                    <a href="/stands" id="navStandsBtn">Stoiska</a>
                    <!--<a href="/account" id="navAccountRegBtn">Konto</a>-->
                </div>
            </nav>
        </div>
        <!--<div id="accountRegister">
            <h1>Rejestracja uczestnika</h1>
            <p>
                Posiadanie konta jest całkowicie dobrowolne oraz służy jedynie w ułatwieniu dostępu do
                kluczowych elementów aplikacji, w tym administracji lub edycji i organizacji pokoi, wydarzeń i
                stoisk. By uzyskać dostęp do swojego stoiska, którym zarządzasz skontaktuj się z organizatorami
                wydarzenia.
            </p>
            <p>
                Do utworzenia konta wymagane jest konto Discord, pobyt na <a href="https://discord.gg/7ZVMJ9egn9" target="_blank">serwerze Discord wydarzenia</a>
                oraz pozwolenie na otrzymywanie wiadomości prywatnych od użytkowników tego serwera w ustawieniach swojego konta Discord.
            </p>
            <form>
                <input type="text" placeholder="Nazwa użytkownika" />
                <input type="text" placeholder="Tag Discord (np. arkalii#0094)" />
                <input type="password" placeholder="Hasło" />
                <button id="accountRegisterSubmit">Utwórz konto</button>
            </form>
        </div>
        <div id="accountDiscordConfirm">
            <h1>Potwierdź swój Discord</h1>
            <p>
                Wysłaliśmy do Ciebie wiadomość z kodem aktywacyjnym na podany Discord Tag, jeśli on do Ciebie nie dotarł
                upewnij się, że masz aktywne otrzymywanie wiadomości prywatnych od członków serwera Snowfall, następnie napisz
                wiadomość do <b>Snowfall#4838</b> z zawartością „!resend”. Jeśli błąd dalej występuje, skontaktuj się z organizatorami wydarzenia.
            </p>
            <form>
                <input type="password" placeholder="Kod aktywacyjny" />
                <button id="accountDiscordConfirmSubmit">Dokończ rejestrację</button>
            </form>
        </div>-->
    </body>
</html>
