<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <title>Snowfall 2021 &mdash; Teraz online!</title>
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/main.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/main.js"></script>
    </head>
    <body>
        <div id="background">
            <svg>
                <circle cx="30%" cy="120%" r="29%" fill="#50535A" />
                <circle cx="65%" cy="125%" r="38%" fill="#50535A" />
                <circle cx="90%" cy="95%" r="34%" fill="#50535A" />
            </svg>
        </div>
        <div id="navbar">
            <nav>
                <div id="logo"></div>
                <div id="rooms">
                    <!-- JS-generated room list -->
                </div>
                <div id="generalNav">
                    <a href="/rooms">Pokoje</a>
                    <a href="/stands">Stoiska</a>
                    <a href="/account">Konto</a>
                </div>
            </nav>
        </div>
    </body>
</html>
